{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <div class="row">
      <div class="two columns">
        <h2 class="title">BnBot</h2>
      </div>
      <div class="nine columns">
        <h5 class="title">Because ain't nobody got time to read all those reviews</h5>
      </div>
    </div>
  </section>
  <hr />

  <div class="content">
    <h5>
      Enter an airbnb URL and machines will write you a summary!
    </h5>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="four columns">
          {{ form.URL() }}
        </div>
        <div class="three columns">
          <button type="submit" class="button-primary">Submit</button>
        </div>
      </div>
    </form>
    <ul>
    {% for result in results %}
      <li>{{ result }}</li>
    {% endfor %}
    </ul>

  </div>
{% endblock body %}

{% block js %}
  <script type="text/javascript">

  </script>
{% endblock js %}